apiVersion: v1
kind: Service
metadata:
  name: nginx-mozilla-lb
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: nginx-mozilla
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
